@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	background-color: #080202;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/*------------ ICON --------------*/

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: white;
}

.icon-cart:hover {
	cursor: pointer;
}

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;
	background-color: white;
	color: #000;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 13px;
	font-weight: 600;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/*------------ HEADER ------------*/

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 50px 50px 0;
}

.menu-2 {
	margin-left: 180px;
	display: flex;
	align-items: center;
}

.logo-1 {
	width: 0;
}

.logo-2 {
	width: 150px;
}

.socials {
	display: flex;
}

.social {
	margin: 0 20px 0 10px;
	height: 40px;
	width: 40px;
}

.social:hover {
	background-color: #db241b;
	border-radius: 50%;
}

.social img {
	margin: 8px 0 0 10px;
}

.menu .navbar ul li {
	position: relative;
	float: left;
}

.menu .navbar ul li a {
	font-size: 18px;
	padding: 20px;
	color: #ffffff;
	display: block;
}

.menu .navbar ul li a:hover {
	color: #db241b;
}

#menu {
	display: none;
}

.menu-icono {
	width: 25px;
}

.menu label {
	cursor: pointer;
	display: none;
}

.header-content {
	margin-top: 120px;
	padding-bottom: 80px;
}

.slider {
	display: flex;
	align-items: center;
}

.slider-txt {
	width: 50%;
}

.slider-txt h1 {
	font-size: 70px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

.slider-txt p {
	font-size: 18px;
	color: #a7a7a7;
}

.botones {
	margin-top: 50px;
}

.btn-1 {
	display: inline-block;
	padding: 15px 35px;
	border: 2px solid #db241b;
	color: #ffffff;
	font-weight: 800;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-right: 20px;
	border-radius: 50px;
}

.btn-1:hover {
	background-color: #db241b;
}

.slider-img {
	width: 50%;
}

.slider-img img {
	margin-right: 225px;
	width: 550px;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	padding: 60px 0;
}

.tabs h3 {
	text-align: center;
	cursor: pointer;
	color: #3a3838;
	font-weight: 700;
	font-size: 20px;
}

/*------------- Main -------------*/

main {
	padding-bottom: 70px;
}

.products {
	background-color: white;
}

.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

/*----------- HORARIO ----------*/

.horario {
	padding: 60px 0;
}

.horario-info h2 {
	font-size: 75px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.horario-txt {
	display: flex;
	justify-content: space-between;
}

.txt {
	color: #ffffff;
}

.txt h4 {
	font-size: 18px;
	color: #a7a7a7;
	margin-bottom: 30px;
}

.txt p {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
}

.map {
	filter: grayscale(100%) invert(92%) contrast(93%);
}

.footer {
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
}

.links h4 {
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.links ul li a {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
}

@media (max-width: 991px) {
	.container-items {
		grid-template-columns: repeat(2, 1fr);
	}

	.menu {
		padding: 20px;
		justify-content: space-between;
	}

	.menu-2 {
		display: none;
	}

	.logo-1 {
		width: 100px;
	}

	.logo-2 {
		width: 0;
	}

	.menu label {
		display: initial;
	}

	.menu .navbar {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #181818;
		display: none;
	}

	.menu .navbar ul li {
		width: 100%;
	}

	#menu:checked ~ .navbar {
		display: initial;
	}

	.header-content {
		padding: 30px;
		margin-top: 100px;
	}

	.slider {
		flex-direction: column;
	}

	.slider-txt {
		margin-left: 0;
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	.slider-txt h1 {
		font-size: 50px;
	}

	.slider-txt p {
		font-size: 16px;
	}

	.btn-1 {
		padding: 10px 25px;
		font-size: 14px;
	}

	.slider-img {
		width: 100%;
		text-align: center;
	}

	.slider-img img {
		margin-right: 0;
		width: 300px;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets,
	.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: -7px;
	}

	.tabs {
		padding: 50px 30px;
	}

	.tabs label {
		width: 33%;
	}

	.info {
		padding: 30px;
		flex-direction: column;
	}

	.info-img {
		width: 100%;
		text-align: center;
	}

	.info-img img {
		width: 400px;
		height: 200px;
		margin-bottom: 25px;
	}

	.info-txt {
		width: 100%;
		text-align: center;
	}

	.info-txt h2 {
		font-size: 50px;
	}

	.info-txt p {
		font-size: 16px;
	}

	.btn-1 {
		font-size: 16px;
	}

	.horario {
		padding: 30px;
		text-align: center;
	}

	.horario-info h2 {
		font-size: 50px;
		margin-bottom: 15px;
	}

	.horario-txt {
		flex-direction: column;
	}

	.socials {
		justify-content: center;
	}

	.social img {
		margin: 8px 0 0 0;
	}

	.footer {
		padding: 30px;
		flex-direction: column;
		text-align: center;
	}

	.links h4 {
		margin: 25px 0 10px 0;
	}
}

@media (max-width: 991px) {
	.container-items {
		grid-template-columns: 1fr;
	}
}